@tailwind base;

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}

h5 {
  @apply text-base font-semibold;
}

h6 {
  @apply text-sm font-semibold;
}

p {
  @apply text-base font-normal;
}

em {
  @apply italic;
}

@tailwind components;

@tailwind utilities;

@layer components {
  .game-grid {
    display: grid;
    grid-template:
      'progress ' theme('spacing.2')
      'display  ' auto
      'answer   ' auto
      'numberpad' 1fr
      / auto;
  }

  .progress {
    grid-area: progress;
  }

  .display {
    grid-area: display;
  }

  .answer {
    grid-area: answer;
  }

  .numberpad {
    grid-area: numberpad;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
